## Q.1 Write a Python Program to sort (ascending and descending) a dictionary by value.

In [ ]:
dic = {'dedication':2,'hardwork':1,'passion':0}

sort_by_value_asc = {k:v for k,v in sorted(dic.items(),key=lambda v:v[1])}
print(sort_by_value_asc)

sort_by_value_dec = {k:v for k,v in sorted(dic.items(),key=lambda v:v[1],reverse=True)}
print(sort_by_value_dec)

{'passion': 0, 'hardwork': 1, 'dedication': 2}
{'dedication': 2, 'hardwork': 1, 'passion': 0}

## Q.2 Write a Python Program to add a key to a dictionary. 

Sample Dictionary : {0: 10, 1: 20}
Expected Result : {0: 10, 1: 20, 2: 30}

In [ ]:
dicts = {1:'ana',2:'bho',3:'ca',4:'don',5:'ek'}

dicts[5]='la'

print(dicts)

{1: 'ana', 2: 'bho', 3: 'ca', 4: 'don', 5: 'la'}

## Q.3 Write a  program asks for City name and Temperature and builds a dictionary using that Later on you can input City name and it will tell you the Temperature of that City.

In [ ]:
n = eval(input("Enter the total no. of cities: "))
dicts = {}

for i in range(n):
  city_name = input("Enter the city : ")
  
  temp = eval(input("Enter the temp: "))
  dicts[city_name]=temp

print(dicts)

Enter the total no. of cities: 3
Enter the city : alwar
Enter the temp: 20
Enter the city : jodhpur
Enter the temp: 23
Enter the city : jAIPUR
Enter the temp: 21
{'alwar': 20, 'jodhpur': 23, 'jAIPUR': 21}

## Q. 4 Write a Python program to convert list to list of dictionaries.

Sample lists: ["Black", "Red", "Maroon", "Yellow"], ["#000000", "#FF0000", "#800000", "#FFFF00"]

Expected Output: [{'color_name': 'Black', 'color_code': '#000000'}, {'color_name': 'Red', 'color_code': '#FF0000'}, {'color_name': 'Maroon', 'color_code': '#800000'}, {'color_name': 'Yellow', 'color_code': '#FFFF00'}]

In [ ]:
 c = ["Black", "Red", "Maroon", "Yellow"]
 f= ["#000000", "#FF0000", "#800000", "#FFFF00"]

print([{"color_name":i,"color_code":j} for i,j in zip(c,f)])

[{'color_name': 'Black', 'color_code': '#000000'}, {'color_name': 'Red', 'color_code': '#FF0000'}, {'color_name': 'Maroon', 'color_code': '#800000'}, {'color_name': 'Yellow', 'color_code': '#FFFF00'}]

## Q. 5 We have following information on Employees and their Salary (Salary is in lakhs),

Employee	Salary
John	14
Smith	13
Alice	32
Daneil	21
Using above create a dictionary of Employees and their Salary
Write a program that asks user for three type of inputs,
print: if user enter print then it should print all Employees with their Salary in this format,
John ==>14
Smith ==>13
Alice ==>32
 Daneil ==>21
add: if user input adds then it should further ask for an Employee name to add. If Employee already exists in our dataset then it should print that it exists and do nothing. If it doesn't then it asks for Salary and add that new Employee/Salary in our dictionary and print it
remove: when user inputs remove it should ask for an Employee to remove. If an Employee exists in our dictionary then remove it and print a new dictionary using format shown above in (a). Else print that Employee doesn't exist!
query: on this again ask the user for which Employee he or she wants to query. When a user inputs that Employee it will print the Salary of that Employee.

In [ ]:
dat = {'John'	:14,'Smith':13,'Alice':32,'Daneil':21}
ask = input("What you want -> [a] print  [b] add [c] remove [d] query: ")

if ask == 'print':
  for i in dat.items():
    print(i[0],"==>",i[1])

elif ask=='add':
  emp = input("Enter employee name")
  if emp in dat.keys():
    print("Employee already exists")
  else:
    sal = eval(input("Enter the salary: "))
    dat[emp]=sal
    print(dat)

elif ask=='remove':
  emp = input("Enter employee name: ")
  if emp in dat.keys():
    del dat[emp]
    for i in dat.items():
      print(i[0],"==>",i[1])

  else:
    print("Employee not exists")

else:
  emp = input("Enter employee name: ")
  print(dat[emp])

What you want -> [a] print  [b] add [c] remove [d] query: query
Enter employee name: Smith
13

## Q.1 What is the difference between a set and a frozenset? Create any set and try to use frozenset(setname).

## The frozenset() is an inbuilt function in Python which takes an iterable object as input and makes them immutable. Simply it freezes the iterable objects and makes them unchangeable.

In [4]:
l = ['anabella','comes','home']
lst = frozenset(l)
print(lst )

lst[3]='2'

print(lst)

frozenset({'anabella', 'home', 'comes'})

TypeError: ignored

## Q.2 Find the elements in a given set that are not in another set

    set1 = {10,20,30,40,50}

    set2 = {40,50,60,70,80}

 Difference between set1 and set2 is {10,20,30}

In [ ]:
set1 = {10,20,30,40,50}

set2 = {40,50,60,70,80}

print("set1 - set2 = ",set1.difference(set2))

print("set1 - set2 = ",set2.difference(set1))

set1 - set2 =  {10, 20, 30}
set1 - set2 =  {80, 60, 70}